#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #c561fbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.form-container {
  display: flex;
  flex-wrap: wrap;
}

.form-container .form-section {
  width: calc(50% - 20px);
  margin-right: 20px;
}

.form-container .form-section:last-child {
  margin-right: 0;
}

.form-container .form-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container .form-section input[type="text"],
.form-container .form-section input[type="file"],
.form-container .form-section select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container .form-section textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow the textarea to be resized vertically */
}

.form-container .form-section button[type="submit"] {
  padding: 10px 20px;
  background-color: #00ffaa;
  color: #c53d3d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container .form-section img {
  max-width: 100%;
  height: 10%;
  border-radius: 5px;
}
