@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-container .form-section {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
  
  .form-container .form-section:last-child {
    margin-right: 0;
  }
  
  .form-container .form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-container .form-section input[type="text"],
  .form-container .form-section input[type="file"],
  .form-container .form-section select {
    width: 10%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container .form-section textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow the textarea to be resized vertically */
  }
  
  .form-container .form-section button[type="submit"] {
    padding: 10px 20px;
    background-color: #bfff00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container .form-section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  